/* ===================   Product Quickview   =================== */
.ajax-quickview,
.ajax-quickview-images,
.ajax-quickview-images > ul,
.ajax-quickview-images > ul > li {
	height: 100%;
}
.ajax-quickview{
	background: #fcfcfc;
}

.ajax-quickview-cont-wrap {
	width: 48%;
}

.ajax-quickview-images {
	position: relative;
	float: left;
	margin: 10px;
	width: 50%;
	margin: 0;
	background: #f7f7f7;
	@include border-radius(0);
	> ul {
		margin: 0;
		> li {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 1;
			opacity: 0;
			text-align: center;
			overflow: hidden;
			@include transition(opacity .5s ease);
			> img {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
				max-height: 78%;
				max-width: none;
				width: auto;
			}
			&.active {
				z-index: 2;
				opacity: 1;
			}
		}
	}
	.next-img,
	.prev-img {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		z-index: 5;
	}
	.next-img {
		right: 15px;
	}
	.prev-img {
		left: 15px;
	}
}

.ajax-quickview-cont-wrap {
	float: right;
	max-height: 100%;
	overflow-y: auto;
	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	.ajax-quickview-cont {
		padding: 30px 50px 30px 20px;
		.name{
			h3{
				text-align: left;
			}
		}
		.extra-options {
			color: $baseColor;
			padding-bottom: 7px;
			li + li {
				margin-top: 10px;
			}
			em {
				font-style: normal;
				font-weight: normal;
				color: $textPrimary;
			}
			span {
				color: $primary;
			}
		}
		.btn.btn-add {
			float: right;
		}
		.form-group {
			margin-bottom: 15px;
		}
		.cart-button {
			margin-top: 15px;
			.btn{
				margin-bottom: 5px;
			}
		}
		.product-option-wrap {
			.options {
				border-top: 1px solid #eee;
			}
		}
	}
	.sale, .new-pr, .discount {
		position: static;
	}
	.product-options {
		border-bottom: none;
		padding-top: 20px;
		h3{
			text-align: left;
		}
	}
	.product-btn-add {
		vertical-align: middle;
		margin-right: 20px;
	}
	.counter {
		+ .product-btn-add {
			margin-left: 20px;
		}
	}
}

.ajax-quickview-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	background: rgba($textPrimary, .3);
	opacity: 0;
	visibility: hidden;
	.ajax-quickview-overlay__preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		display: inline-block;
		width: 180px;
		height: 40px;
		background: url(../image/quick_view_preloader.gif);
	}
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.fancybox-skin{
	@include border-radius(0);
}

.fancybox-skin:hover .fancybox-nav span {
	visibility: visible;
}

.fancybox-nav {
	height: 40px;
	top: 50%;
	width: 40px
}

.fancybox-next {
	right: -60px;
}

.fancybox-prev {
	left: -60px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.product-option-wrap {
		.form-group{
			.product-btn-add{
				display: block;
				margin-bottom: 5px;
			}
		}
	}
}