/*========================================================
                      Blog Styles
=========================================================*/
.blog_article {
	margin-bottom: 26px;
	+ .blog_article {
		padding-top: 30px;
		border-top: 1px solid $borderColor;
	}
}

.blog_articles,
.blog-item {
	.box-content {
		text-align: center;
		.btn {
			margin-top: 20px;
		}
	}
}

.box.blog_articles {
	margin-bottom: 13px;
}

.article-info {
	.btn {
		margin-top: 15px;
	}
}

.article-image {
	text-align: center;
	position: relative;
	overflow: hidden;
	display: inline-block;
	background: $secondary;
	.top & {
		margin-bottom: 25px;
	}
	img{
		opacity: 1;
		width: 100%;
		.all-ie & {
			width: 100%;
		}
	}
	.simple_blog-article-view & {
		float: left;
	}
}

.simple_blog-article-view h1:after {
	margin-bottom: 15px;
}

.article-title {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 4px;
	color: $textPrimary;
	text-transform: none;
	> a {
		display: inline;
		color: $textPrimary;
	}
	a:hover {
		color: $primary;
	}
	+ * {
		margin-top: 4px;
	}
}

* + .article-description {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

.article-comments {
	margin-right: 10px;
}

.article-date {
	text-transform: uppercase;
	color: $textPrimary;
	font-size: 14px;
	line-height: 24px;
	display: block;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.article-sub-title {
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: $textPrimary;
	span {
		display: inline-block;
		& + span {
			margin: 0 0 0 15px;
		}
	}
	.article-date {
		+ div {
			margin-top: 4px;
			span {
				padding: 0 10px;
				a {
					margin-left: 5px;
				}
			}
		}
	}
	+ * {
		margin-top: 1px;
	}
}

.article-description {
	ul, ol {
		padding-left: 0;
		list-style-type: none;
		margin: 35px 0 45px;
		li {
			position: relative;
			color: $primary;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			padding-left: 50px;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
			}
			+ li {
				margin-top: 16px;
			}
		}
	}

	ul {
		li {
			&:before {
				content: '\e18e';
				font-size: 28px;
				font-family: $material;
			}
		}
	}

	ol {
		counter-reset: list;
		li {
			counter-increment: list;
			&:before {
				content: counter(list, decimal-leading-zero) '.';
				color: $textPrimary;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
	+ * {
		margin-top: 0px;
	}
}

.related-article {
	h4 {
		text-transform: uppercase;
		color: $primary;
		a:hover {
			color: $textPrimary;
		}
	}
	.article-sub-title {
		text-align: left;
	}
	.article-sub-title span + span {
		margin-left: 5px;
	}
	.row + .row {
		margin-top: 30px;
	}
}

.author-info .image {
	float: left;
	margin: 5px 30px 10px 0;
}

.article-comment {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $borderColor;
	.author {
		float: left;
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.reply-message {
		float: right;
		text-transform: uppercase;
		color: $primary;
		a:hover {
			color: $textPrimary;
		}
	}
	.comment-date {
		clear: both;
		color: $textPrimary;
		text-transform: uppercase;
	}
	.text {
		margin-top: 15px;
	}
	.article-reply {
		margin: 30px 0 0 60px;
	}
}

.reply-cancel {
	font-size: 16px;
	color: $primary;
	@include transition(.3s all ease);
	text-transform: uppercase;
	margin-top: 10px;
	&:hover {
		color: $textPrimary;
	}
}
#review-title {
	clear: both;
}

aside {
	.blog_articles {
		.article-title {
			font-size: 16px;
			line-height: 24px;
		}
		.col-sm-4+.col-sm-4{
			margin-top: 30px;
		}
		*+.article-description{
			margin-top: 10px;
		}
		.blog-item {
			margin-bottom: 25px;
		}
	}
	.blog-categories{
		.box-heading{
			margin-bottom: 0;
		}
		ul{
			>li{
				position: relative;
				>i{
					position: absolute;
					top: 10px;
					right: 10px;
					color: $textPrimary;
					@include transition(.3s all ease);
					cursor: pointer;
					font-size: 20px;
					&:hover{
						color: $primary;
					}
				}
				> a {
					display: inline-block;
					color: $textPrimary;
					font-size: 16px;
					text-transform: uppercase;
					font-weight: 400;
					padding: 10px 0;
					&:hover{
						background: none;
						color: $primary;
					}
				}
				+li{
					border-top: 1px solid $borderColor;
				}
			}
			ul{
				display: none;
				padding: 0;
				list-style-type: none;
				border-top: 1px solid $borderColor;
				a{
					padding-left: 40px;
				}
			}
		}
	}
	#blog-search{
		margin: 0;
		position: relative;
		input{
			padding-right: 35px;
			background: #fff;
			border-radius: 0;
			color: $textPrimary;
		}
		a{
			display: inline-block;
			position: absolute;
			right: 15px;
			font-size: 18px;
			line-height: $inputHeight;
			top: 0;
			color: $baseColor;
			font-family: $fa;
			background: none;
			&:before{
				content: '\f002';
			}
			&:hover{
				color: $primary;
			}
		}
	}
}

.simple_blog-article-view{
	.product_tabs .nav-tabs{
		width: 25%;
	}
	.product_tabs .tab-content{
		width: 75%;
	}
}

/*========================================================
                   Blog Styles Responsive
=========================================================*/
@media (max-width: 1199px) {
	.top .article-description {
		padding: 0;
		letter-spacing: 0;
	}
	.top .article-image {
		margin-bottom: 15px;
	}
	.blog_articles {
		.col-lg-6 + .col-lg-6 {
			padding-top: 20px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-sub-title span + span{
		margin-left: 5px;
	}
}

@media (max-width: 991px) {
	.article-image{
		margin-bottom: 15px;
	}
	.top .article-image {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.blog_articles {
		.col-lg-6 + .col-lg-6 {
			padding-top: 0;
		}
	}
}

@media (max-width: 767px) {
	.simple_blog-article-view{
		.product_tabs{
			.nav-tabs,.tab-content{
				width: 100%;
			}
		}
	}
	.article-image {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

@media (max-width: 600px){
	.reply-cancel{
		float: none;
		display: block;
	}
}

@media (max-width: 480px) {
	.common-home .blog_articles {
		.article-image {
			width: 100%;
			img {
				width: 100% !important;
			}
		}
	}
	.article-title {
		font-size: 18px;
		line-height: 30px;
		letter-spacing: .5px;
	}
}