/*========================================================
                     Color Schemes
=========================================================*/
@each $scheme, $keyNumber in $schemes {
	.color_#{$scheme} {
		background: nth($keyNumber, 1);
	}
}

#style_switcher {
	&, & .toggler:hover {
		color: $primary;
	}
}

#style_switcher div.color_scheme {
	position: relative;
	overflow: hidden;
}
#style_switcher div.color_scheme:before,
#style_switcher div.color_scheme:after {
	content: '';
	position: absolute;
	left: 50%;
	width: 50%;
	height: 50%;
	-webkit-filter: blur(0);
	filter: blur(0);
}

#style_switcher div.color_scheme:before {
	top: 0;
}
#style_switcher div.color_scheme:after {
	bottom: 0;
}
#style_switcher {
	position: fixed;
	top: 99px;
	width: 120px;
	box-sizing: border-box;
	left: 0;
	z-index: 999;
	padding: 49px 36px 40px;
	text-align: left;
	background: rgba($secondary, .85);
	text-transform: uppercase;
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
}
#style_switcher.shown {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	z-index: 1012;
}
#style_switcher p {
	line-height: 18px;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 0 0 15px;
	color: #fff;
}
#style_switcher p span {
	font-size: 12px;
	display: block;
	line-height: 21px;
	color: #fff;
}
#style_switcher .toggler {
	position: absolute;
	top: 0;
	left: 100%;
	width: 50px;
	height: 50px;
	font-size: 18px;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	background: $secondary;
	transition: color .2s ease;
}
#style_switcher .toggler:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	height: 50px;
	content: '\e22b';
	font-family: $matIcon;
	transition: color .2s ease;
}
#style_switcher.shown .toggler{
	background: rgba($secondary, .85);
	&:hover{
		color: $primary;
	}
}
#style_switcher.shown .toggler:before{
	content: '\e007';
	font-family: $flat;
	font-size: 16px;
}
#style_switcher ul {
	margin: 0;
	list-style: none;
	font-size: 0;
	padding: 0;
	line-height: 0;
}
#style_switcher ul li {
	display: inline-block;
	margin: 0;
	cursor: pointer;
	vertical-align: top;
	& + li {
		margin-top: 2px;
	}
}
#style_switcher ul li:hover,
#style_switcher ul li.active {
	
}
#style_switcher div.color_scheme {
	width: 44px;
	height: 44px;
	border-radius: 0;
	border: 0;
	@include transition(.3s all ease);
}
#style_switcher ul li:hover div.color_scheme,
#style_switcher ul li.active div.color_scheme{
	@include box-shadow(0 0 0 4px rgba(#fff, .6)inset);
}
#style_switcher #style_switcher_form {
	padding: 0;
	margin: 0;
}
#style_switcher #style_switcher_form button.button {
	display: block;
	text-align: center;
	padding: 4px 30px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	outline: none !important;
	position: relative;
	border: 2px solid #626262 !important;
	background: transparent !important;
	font-size: 15px;
	line-height: 26px;
	font-weight: bold;
}
#style_switcher #style_switcher_form button.button:hover{
	background: #626262 !important;
	color: #fff !important;
}

#style_switcher.loading:before {
	position: absolute;
	right: 30px;
	bottom: 40px;
	background: url(../images/loading.gif);
	width: 60px;
	height: 20px;
	content: '';
}

#style_switcher.success:before{
	position: absolute;
	right: 30px;
	bottom: 32px;
	content: '\f00c';
	font-family: FontAwesome;
	font-size: 20px;
	line-height: 40px;
}
@media (max-width: 767px){
	#style_switcher {
		top: 56px;
	}
}

body.mobile_mode.mobile{
	#style_switcher{
		top: 0 !important;
	}
}