/*========================================================
TemplateMonster CountDown
=========================================================*/
/**
*	This element is created inside your target element
*	It is used so that your own element will not need to be altered
**/

.countdown {
	.box-heading {
		display: none;
	}
}

.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
	> div {
		position: absolute;
		text-align: center;
		> {
			h4 {
				margin: 0px;
				padding: 0px;
				font-size: 14px;
				line-height: 18px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				span {
					color: $secondary;
				}
			}
		}
	}
}

/**
*	This is all the elements used to house all text used
* in time circles
**/

/**
*	Titles (Days, Hours, etc)
**/

/**
*	Time numbers, ie: 12
**/

.countdown-simple {
	text-align: center;
	line-height: 1;
	display: table;
	width: 210px;
	margin: 0 auto;
	padding: 7px 0 9px;
	background: rgba(36,41,45,.5);
	table-layout: fixed;
	.number {
		display: block;
		color: #fff;
	}
	.cell {
		display: inline-block;
		position: relative;
		margin: 0 7px;
		span {
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 4px;
			font-weight: bold;
			font-family: $secFontFamily;
		}
		b{
			font-weight: 400;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: .3px;
			color: #fff;
		}
		& + .cell {
			&:before {
				content: ":";
				position: absolute;
				left: -11px;
				top: 0;
				bottom: 0;
				font-size: 30px;
				color: #fff;
				line-height: 30px;
				display: block;
			}
		}
	}
}

.countdown_description{
	padding: 15px 10px;
	h4 {
		margin: 0px;
		padding: 0px;
		font-size: 14px;
		line-height: 17px;
		font-weight: 900;
		text-align: center;
		color: #fff;
		font-family: $baseFontFamily;
		text-transform: uppercase;
		letter-spacing: .5px;
		span {
			color: $secondary;
		}
	}
}

@media (max-width: 1199px) {
	.countdown-simple .cell {
		span {
			font-size: 23px;
			line-height: 25px;
			margin-bottom: 3px;
		}
		& + .cell:before {
			font-size: 24px;
			line-height: 25px;
		}
	}
}

@media (max-width: 991px) {
	.countdown-simple .cell {
		width: 15%;
		margin: 0 6px;
		span {
			font-size: 25px;
		}
	}
}