/*========================================================
                      HTML boxes
=========================================================*/
.html-block {
	.cat-title {
		padding: 16px 17px 14px;
		background: $primary;
		position: relative;
		display: block;
		font-size: 19px;
		line-height: 24px;
		text-transform: capitalize;
		min-height: 60px;
		@include border-radius(3px 3px 0 0);
		color: #fff;
		i {
			font-size: 24px;
			line-height: 24px;
			margin-right: 10px;
			position: relative;
			top: 3px;
		}
	}
	.item {
		border: 1px solid #fff;
		position: relative;
		padding: 34px 20px 20px;
		text-align: center;
		color: #fff;
		h1,h2,h3,h4,h5,h6,p {
			color: inherit;
		}
		i {
			font-size: 24px;
			line-height: 30px;
		}
		h4 {
			margin: 17px 0 15px;
			font-size: 19px;
			text-transform: uppercase;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.html-block .cat-title {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.html-block {
		.col-xs-12 + .col-xs-12 {
			margin-top: 30px;
		}
	}
}