/*--------------------------------------------------------------
                    NewsLetter Block
--------------------------------------------------------------*/
.newsletter{
	overflow: hidden;
	position: relative;
	.box-content{
		.newsletter-description p{
			font-size: 13px;
			line-height: 24px;
			margin-bottom: 11px;
			font-family: $secFontFamily;
			font-weight: 300;
			letter-spacing: 0;
			color: $textSecondary;
		}
		#jetimpex-newsletter-form{
			position: relative;
		}
		.jetimpex-login-form{
			margin: 0;
			position: relative;
			overflow: hidden;
			padding: 5px 0 20px;
			input{
				width: 70%;
				float: left;
				height: 35px;
				color: $textPrimary;
				@include border-radius(3px 0 0 3px);
				font-size: 13px;
				background: rgba(255,255,255,1);
				font-family: $baseFontFamily;
				padding: 5px 15px;
				border: 0;
				[lang="ru"] &,
				[lang="de"] & {
					font-size: 11px;
				}
				&:focus {
					@include box-shadow(none);
					background: #eef9fc;
				}
				&::-webkit-input-placeholder{
					color: $textPrimary !important;
					opacity: 1;
				}
				&:-moz-placeholder{
					color: $textPrimary !important;
					opacity: 1;
				}
				&::-moz-placeholder{
					color: $textPrimary !important;
					opacity: 1;
				}
				&:-ms-input-placeholder  {
					color: $textPrimary !important;
					opacity: 1;
				}
				&:focus::-webkit-input-placeholder {color: transparent!important;}
				&:focus::-moz-placeholder          {color: transparent!important;}
				&:focus:-moz-placeholder           {color: transparent!important;}
				&:focus:-ms-input-placeholder      {color: transparent!important;}
			}
			button{
				float: left;
				width: 30%;
				display: inline-block;
				font-size: 14px;
				line-height: 35px;
				font-weight: 300;
				color: $textSecondary;
				background: $primary;
				padding: 0 5px;
				@include border-radius(0 3px 3px 0);
				[lang="ru"] &,
				[lang="de"] & {
					font-size: 12px;
				}
				&:hover{
					background: #000;
					color: #fff;
				}
			}
		}
	}
}
.newsletter-error,
.newsletter-success{
	position: absolute;
	font-size: 12px;
	line-height: 17px;
	font-weight: 300;
	bottom: 0;
	top: auto;
	left: 0;
	right: 0;
	text-align: left;
	@include transition(.4s all ease);
}
.newsletter-error{
	color: red;
}
.newsletter-success{
	color: $primary;
}


/*--------------------------------------------------------------
           NewsLetter Block Responsive Layout
--------------------------------------------------------------*/

@media (max-width: 767px) {
	.newsletter .box-content .jetimpex-login-form {
		input {
			width: 75%;
		}
		button {
			width: 25%;
		}
	}
}

@media (max-width: 480px) {
	.newsletter .box-content .jetimpex-login-form {
		input {
			width: 70%;
		}
		button {
			width: 30%;
		}
	}
}